<div class="row">
  <div class="col s8">
    <div class="card">
      <div class="card-image">
        <img src="https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg">
        <span class="card-title"></span>
      </div>
      <div class="card-action">
        <a href="/project/<%= @project.id %>">このプロジェクトに参加する</a>
      </div>
    </div>
  </div>
  <div class="col s4">
    <h4><%= @project.title %></h4>
    <p><%= @project.details %></p>
  </div>
</div>
<div>参加者</div>
